* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
}

body {
    background: url("../images/background.png") no-repeat;
    min-height: 100vh;
    background-size: cover;
}

a {
    text-decoration: none;
    list-style: none;
}

/*START-----------------------------HEADER-style-----------------------------START*/

.header {
    user-select: none;
    background: rgba(0, 0, 0, 0.4);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 0 80px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.icons {
    align-items: center;
    margin-right: 25px;
    vertical-align: middle;
    transition: .3s;
}

.icons img{
    vertical-align: text-top;
}

.svg-icons {
    width: 26px;
    height: 26px;
    fill: white;
}

.log-sign__style {
    padding-left: 25px;
}

.log-sign {
    font-size: 16px;
    transition: .3s;
}

.log-sign::before {
    content: '';
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-right: 50px;
}

.log-sign__style a {
    color: white;
}

/*LogoStyle*/
.logo {
    font-weight: 700;
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    transition: .8s;
    position: relative;
}

.logo::after {
    content: '';
    position: absolute;
    width: 50px;
    background: forestgreen;
    height: 3px;
    top: 16px;
    transform-origin: left;
    transition: transform .5s;
    transform: scaleX(0);
}

.logo:hover::after {
    transform: scaleX(1);
}

.logo:hover {
    transition: .8s;
    letter-spacing: 2px;
    color: forestgreen;
}
/*LogoStyle*/

/*IconsStyle*/
.svg-icons:hover {
    fill: #255335;
    transition: .4s;
}
/*IconsStyle*/

/*Sign-Log Style*/
.log-sign a {
    position: relative;
    transition: .5s;
}

.log-sign a::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    background: #255335;
    width: 100%;
    bottom: -12px;
    border-radius: 5px;
    transform-origin: center;
    transition: transform .5s;
    transform: scale(0);
}

.log-sign a:hover {
    color: #255335;
    transition: .5s;
}

.log-sign a:hover::after {
    transform: scale(1);
}

/*Sign-Log Style*/

/*END-----------------------------HEADER-style-----------------------------END*/


/*START-----------------------------SignUp-style-----------------------------START*/

.wrapper {
    width: 444px;
    height: 600px;
    margin: 54px auto;
    background-color: ghostwhite;
    border-radius: 10px;
    /*position: relative;*/
    user-select: none;
}

.sign-up {
    padding: 31px 60px;
}

/*SignUp-style*/
.sign-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.sign-title {
    font-size: 20px;
    font-weight: 400;
    position: relative;
}

.sign-title::before {
    content: '';
    position: absolute;
    background-color: #3CB878;
    display: block;
    top: 0;
    right: 110px;
    width: 18px;
    height: 18px;
}

.sign-header a {
    color: #3CB878;
}

.sign-header a:hover {
    color: #01813F;
    text-decoration: underline;
}

/*SignUp-style*/

/*Button-Facebook-Google__style*/
.btn__other-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;
    border: none;
    height: 48px;
    width: 160px;
    font-size: 16px;
    color: white;
}

.btn-form:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}

.btn-form span {
    position: relative;
}
/*WARNING!!! CHANGE*/
.btn-form span::before {
    content: '';
    position: absolute;
    top: 0;
    right: 83px;
    height: 100%;
    display: block;
    border: 1px solid rgba(60, 60, 60, 0.2);
}

.btn-form__facebook {
    background-color: #305DB8;
    transition: .4s;
}

.btn-form__facebook:hover {
    background-color: #022263;
    transition: .4s;
}

.btn-form__google {
    background-color: #DF4A32;
    transition: .4s;
}

.btn-form__google:hover {
    background-color: #AB1F09;
    transition: .4s;
}

/*Button-Facebook-Google__style*/

.label__sign-up {
    margin-top: 30px;
}

/*Text 'or' style*/
.another-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.text-or__sign-up {
    color: #848484;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}

.text-or__sign-up::before {
    content: '';
    position: absolute;
    display: block;
    right: 19px;
    width: 149px;
    border: 1px solid #F2F2F2;
    top: 9px;
}

.text-or__sign-up::after {
    content: '';
    position: absolute;
    display: block;
    left: 19px;
    width: 149px;
    border: 1px solid #F2F2F2;
    top: 9px;
}
/*Text 'or' style*/

/*LABEL-style*/
.input-box label {
    padding: 15px 0;
}

.input-box input {
    width: 100%;
    height: 44px;
    padding-left: 20px;
    margin: 10px 0;
    font-size: 14px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    outline: none;
}

.input-box input:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

/*LABEL-style*/

/*CHECKBox-style*/
.remember-forgot {
    display: flex;
    align-items: center;
}

.remember-forgot input {
    display: none;
}

.remember-forgot label {
    height: 20px;
    width: 20px;
    border: 1px solid #F2F2F2;
    display: inline-block;
    position: relative;
    background: rgba(0, 0, 0, 0.0001);
    border-radius: 2px;
    margin-right: 10px;
}

[type=checkbox]:checked + span:before {
    content: '\2713';
    position: absolute;
    top: 0;
    left: 2px;
    font-size: 20px;
    color: green;
}

/*CHECKBox-style*/

/*StyleText: "Agree with our Terms & Conditions"*/
.remember-forgot span {
    font-size: 14px;
    color: #434343;
}

.remember-forgot span a {
    color: #3CB878;
}

.remember-forgot span a:hover {
    color: #01813F;
    text-decoration: underline;
}

/*StyleText: "Agree with our Terms & Conditions"*/

/*Button-CreatAccount-STYLE*/
.creat-acc {
    margin: 20px 0 38px;
}

.btn-creat {
    width: 100%;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    transition: all 0.5s ease;
}

.btn-creat:hover {
    background: #01813F;
    transition: all 0.5s ease;
}

.btn-creat span {
    font-size: 16px;
    color: white;
}

/*Button-CreatAccount-STYLE*/

/*END-----------------------------SignUp-style-----------------------------END*/